{% extends "base.html" %}
{% block title %} Inbox {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='admin.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700|Inconsolata:400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='welcome.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='user-inbox.css')}}">

<!--     navbar-->
    <nav class="navbar navbar-expand-md  navbar-light">
        <div class="collapse navbar-collapse " id="myNavbar">
            <div class="container-fluid">
                <div class="row">
                    <!-- sidebar navbar -->
                    <div class="col-lg-3 col-xl-2 col-md-4 sidebar">
                        <a href="#" class="navbar-brand text-white d-block mx-auto text-center mb-4 bottom-border pb-2">
                        {{ username if username }} Profile
                        </a>
                        <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" width="50"height="50" alt="nice" class="rounded-circle mr-3">
                        <a href="#" class="text-white ">{{ username if username }} </a>
                        <div class="border-bottom pb-3"></div>
                        <ul class="navbar-nav flex-column mt-4">
                            <li class="nav-item">
                                <a href="http://127.0.0.1:8080/user" class="nav-link text-light p-3 mb-2"> <i class="fa fa-home text-light fa-lg mr-3" aria-hidden="true"></i> Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="http://127.0.0.1:8080/user/user-security" class="nav-link text-light p-3 mb-2 sidebar-link"> <i class="fa fa-user text-light fa-lg mr-3" aria-hidden="true"></i> Security
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="http://127.0.0.1:8080/user/user-statistics" class="nav-link text-light p-3 mb-2 sidebar-link"> <i class="fa fa-book text-light fa-lg mr-3" aria-hidden="true"></i> Statistics
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="http://127.0.0.1:8080/user/user-inbox" class="nav-link text-light p-3 mb-2 sidebar-link current"> <i class="fa fa-envelope text-light fa-lg mr-3" aria-hidden="true"></i> Inbox
                                    {% if unread != 0 %}
                                    <div class="spinner-grow text-info move-right" role="status">
                                        <span class="text-dark">&nbsp;&nbsp;{{unread}}</span>
                                    </div>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link"> <i class="fa fa-wrench text-light fa-lg mr-3" aria-hidden="true"></i> Settings
                                </a>
                            </li>
                            {% if session["user"] == "admin" %}
                            <li class="nav-item">
                                <a href="http://127.0.0.1:8080/user/admin" class="nav-link text-light p-3 mb-2 sidebar-link"> <i class="fa fa-wrench text-light fa-lg mr-3" aria-hidden="true"></i> Admin Panel
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys manage">
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <!--mail inbox start-->
            <div class="mail-box">
                <aside class="sm-side">
                    <div class="user-head">
                        <div class="user-name">
                            <h5><a href="#">{{username}}</a></h5>
                            <span><a href="#">{{email if email}}</a></span>
                        </div>
                    </div>
                    <div class="inbox-body">
                        <a class="btn btn-success" data-toggle="modal" href="http://127.0.0.1:8080/user/user-inbox/compose" data-original-title="" title="">
                            New Mail
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Compose</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">To</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="inputEmail1" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Cc / Bcc</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="cc" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Subject</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="inputPassword1" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Message</label>
                                                <div class="col-lg-10">
                                                    <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-lg-offset-2 col-lg-10">
                                                    <span class="btn green fileinput-button" data-original-title="" title="">
                                                      <i class="fa fa-plus fa fa-white"></i>
                                                      <span>Attachment</span>
                                                      <input type="file" multiple="" name="files[]">
                                                    </span>
                                                    <button type="submit" class="btn btn-send" data-original-title="" title="">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>

                    <ul class="inbox-nav inbox-divider">
                        <li class="active">
                            <a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right">{{unread}}</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope-o"></i> Sent Mail</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bookmark-o"></i> Important</a>
                        </li>
                        <li>
                            <a href="#"><i class=" fa fa-trash-o"></i> Trash</a>
                        </li>
                    </ul>
                </aside>
                <aside class="lg-side">
                <div class="inbox-head">
                    <h3>Inbox</h3>
                    <form class="pull-right position" action="#">
                        <div class="input-append">
                            <input type="text" placeholder="Search Mail" class="sr-input">
                            <button type="button" class="btn sr-btn" data-original-title="" title=""><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="inbox-body">
                <div class="mail-option">
                    <div class="chk-all">
                        <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                        <div class="btn-group">
                            <a class="btn mini all" href="#" data-toggle="dropdown" data-original-title="" title="">
                                All
                                <i class="fa fa-angle-down "></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"> None</a></li>
                                <li><a href="#"> Read</a></li>
                                <li><a href="#"> Unread</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-group">
                        <a class="btn mini tooltips" href="#" data-toggle="dropdown" data-placement="top" data-original-title="Refresh">
                            <i class=" fa fa-refresh"></i>
                        </a>
                    </div>
                    <div class="btn-group hidden-phone">
                        <a class="btn mini blue" href="#" data-toggle="dropdown" data-original-title="" title="">
                            More
                            <i class="fa fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                            <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn mini blue" href="#" data-toggle="dropdown" data-original-title="" title="">
                            Move to
                            <i class="fa fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                            <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                        </ul>
                    </div>
                    <ul class="unstyled inbox-pagination">
                        <li><span>1-50 of 234</span></li>
                        <li>
                            <a href="#" class="np-btn"><i class="fa fa-angle-left  pagination-left"></i></a>
                        </li>
                        <li>
                            <a href="#" class="np-btn"><i class="fa fa-angle-right pagination-right"></i></a>
                        </li>
                    </ul>
                </div>
                <table class="table table-inbox table-hover">
                <tbody>
                {% for mail in emails %}
                {% if mail.receiver == username %}
                {% if mail.unread_mail %}
                <tr class="unread" onclick="window.location='http://127.0.0.1:8080/user/user-inbox/{{mail._id}}'">
                    {% else %}
                <tr class="" onclick="window.location='http://127.0.0.1:8080/user/user-inbox/{{mail._id}}'">
                    {% endif %}
                    <td class="inbox-small-cells">
                        <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message  dont-show">{{mail.sender}}</td>
                    <td class="view-message ">{{mail.subject}}</td>
                    <td class="view-message  inbox-small-cells"><!--<i class="fa fa-paperclip"></i>--></td>
                    <td class="view-message  text-right">{{mail.sent_date}}</td>
                </tr>
                {% endif %}
                {% endfor %}
<!--                <tr class="">-->
<!--                    <td class="inbox-small-cells">-->
<!--                        <input type="checkbox" class="mail-checkbox">-->
<!--                    </td>-->
<!--                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>-->
<!--                    <td class="view-message dont-show">Cendy Andrianto <span class="label label-danger pull-right">urgent</span></td>-->
<!--                    <td class="view-message">Lorem ipsum dolor sit amet</td>-->
<!--                    <td class="view-message inbox-small-cells"></td>-->
<!--                    <td class="view-message text-right">May 23</td>-->
<!--                </tr>-->
                </tbody>
                </table>
                </div>
                </aside>
</div>
        <!--mail inbox end-->
        </div>
    </div>
</div>
</div>
{% endblock %}