{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-success" role="alert">
			  {{msg}}
			</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="#">Check what became new since your last login!</a>
<form method="POST" action="#">
    <input type="email" placeholder="Email" name="email" value="{{email if email}}" autocomplete="off"/>
    <input type="submit" value="submit"/>
</form>
{% endblock %}
